@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: var(--font-poppins);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-black: #020202;
  --color-primary: #be968e;
  --color-text-dim:#8a8a8a;
  --color-gray: #f5f5f5;
  --color-gray-darker: #ececec;
  --color-blue-50:#E8EDF2;
}

@layer utilities {
  .text-stroke{
    color: transparent;
    -webkit-text-stroke: 1px #0000000D;
  }
}
 
body {
  background: #ffffff;
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}